<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lamarque - @ViewBag.Title</title>
    @Styles.Render("~/Content/styles-nav.css")
    @Styles.Render("~/Content/styles-historia.css")
    @Styles.Render("~/Content/styles-servicios.css")
    @Styles.Render("~/Content/styles-map.css")
    @Styles.Render("~/Content/styles-servicios.css")
    @Styles.Render("~/Content/styles-sugerencias.css")
    @Styles.Render("~/Content/styles-home.css")
    @Styles.Render("~/Content/styles-input.css")
</head>
<body>
    <header>
        <div class="wrapper">
            <div class="logo">
                Municipalidad de Lamarque
            </div>
            <nav>
                <a href="~/Home/Index">Inicio</a>
                <a href="~/Home/Historia">Historia</a>
                <a href="~/Home/servicios">Servicios</a>
                <a href="~/maps/Index">Mapa</a>
                <a href="~/sugs/Index">Sugerencias</a>
                <a href="~/complain/">Reclamos</a>
            </nav>
        </div>
    </header>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="pie">
                <p> Diseño por ### </p>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/script-nav.js")
    @RenderSection("scripts", required: false)
</body>
</html>
