@model Net.Models.Servicios

@{
    ViewBag.Title = "Eliminar";
}

<h2>Eliminar: @Html.DisplayFor(model => model.Nombre)</h2>

<h3>¿Esta seguro que quiere eliminar esto?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contacto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contacto)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver a la lista", "IndexAdmin")
        </div>
    }
</div>
