
@{
    ViewBag.Title = "login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Iniciar sesion</h2>

<fieldset>
    <div class="form-horizontal">
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @if (@ViewBag.Message != null)
        {
            <div style="border: 1px solid red">
                @ViewBag.Message
            </div>
        }
        <table>
            <tr>
                <td>@Html.LabelFor(a => usuario)</td>
                <td>@Html.TextBoxFor(a => usuario)</td>
                <td>@Html.ValidationMessageFor(a => usuario)</td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(a => contraseña)
                </td>
                <td>
                    @Html.PasswordFor(a => contraseña)
                </td>
                <td>
                    @Html.ValidationMessageFor(a => contraseña)
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Login" />
                </td>
                <td></td>
            </tr>
        </table>  
    </div>
</fieldset>  