@model ComitNet.Models.Contacto

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar</h2>

<h3>¿Esta seguro que quiere eliminar esto?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Correo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Correo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Asunto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Asunto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mensaje)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mensaje)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver a la lista", "IndexAdmin")
        </div>
    }
</div>
