@model IEnumerable<Net.Models.Mapa>

@{
    ViewBag.Title = "Mapa";
}

<div class="float-left mb-3">
    <a class="btn btn-outline-info" href="~/Mapas/Create" role="button">Agregar</a>
</div>
<div class="float-right mb-3">
    @using (Html.BeginForm("Buscar", "servicios_bd", FormMethod.Post, htmlAttributes: new { @class = "form-inline my-2 my-lg-0 float-right" }))
    {
        <form class="form-inline my-2 my-lg-0 float-right">
            <input class="form-control mr-sm-2" name="busqueda_servicios" type="text" placeholder="Buscar">
            <button id="busqueda" class="btn btn-outline-info my-2 my-sm-0" type="submit">Buscar</button>
        </form>
    }
</div>

<div class="text-center mb-5">
    <table class="table table-bordered table-responsive">
        <tr class="table-info">
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Latitud)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Logintud)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Latitud)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Logintud)
                </td>
                <td>
                    @Html.ActionLink("Modificar", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Ver", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
</div>

<div  class="mb-5"><a href="~/Mapas/Index" class="btn btn-outline-danger mx-auto d-block">Subir</a></div>
