@model IEnumerable<ComitNet.Models.Servicios>

@{
    ViewBag.Title = "Servicios";
}

<h2 class="titulo"><i class="glyphicon glyphicon-camera"></i> Servicios</h2>

<div class="col-md-8 col-md-offset-2">
        @using (Html.BeginForm("Buscar", "Servicios", FormMethod.Post, htmlAttributes: new { @class = "navbar-form navbar-left" }))
        {
            <form class="navbar-form navbar-left">
                <div class="input-group">
                    <div class="form-group">
                        <input name="busqueda_servicios" type="text" class="form-control" placeholder="Buscar...">
                    </div>
                    <button id="busqueda" class="btn btn-info" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                </div>
            </form>
        }
    <table class="table table-bordered table-hover table-striped">
        <tr class="danger">
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contacto)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Tipo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Contacto)
                </td>
            </tr>
        }

    </table>
    @Html.ActionLink("Volver arriba", "Index")
</div>