@model Lamarque_ciudad.Models.resultadobusqueda

@{
    ViewBag.Title = "Buscar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Busqueda</h2>


<table class="table">
    <tr>
        <th></th>
    </tr>

    @foreach (var itemevento in Model.eventos)
    {

        <tr>
            <td>
                @itemevento.descripcion
            </td>
            <td>
                @itemevento.startDate
            </td>
            <td>
                @itemevento.endDate
            </td>

        </tr>
    }
    @foreach (var itemservicios in Model.servicios)
    {
        <tr>
            <td>
                @itemservicios.tipo

            </td>
            <td>
                @itemservicios.nombre

            </td>
            <td>
                @itemservicios.descripcion

            </td>
         

        </tr>
    }


    <tr>
        <td>
           
        </td>
        
    </tr>


</table>
