<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
      <title>ProyectoCiudad</title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <link rel="stylesheet" href="/Content/layout.css" type="text/css" />
    <script type="text/javascript" src="/Scripts/jquery.min.js"></script>
    <script type="text/javascript" src="/Scripts/jquery.jcarousel.pack.js"></script>
    <script type="text/javascript" src="/Scripts/jquery.jcarousel.setup.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="wrapper col1">
        <div id="header">
            <div id="logo">
                <h1><a href="index.html">Lamarque</a></h1>
                <p>Rio Negro, Avellaneda</p>
            </div>
            <!--menu arriba derecha-->
            <div id="topnav">
                <ul>
                    <li class="active"><a href="index.html">Inicio</a></li>
                    <li><a href="pages/Historia.html">Historia</a></li>
                    <li><a href="pages/Servicios.html">Servicios</a></li>
                    <li><a href="pages/ComoLlegar.html">Como llegar</a></li>
                    <li><a href="pages/Reclamos.html">Reclamos y sugerencias</a></li>
                </ul>
            </div>
            <br class="clear" />
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="box contactdetails">
                <h2>Nuestro contacto</h2>
                <ul>
                    <li> Calle "" N° xxxx</li>
                    <li>Ciudad:</li>
                    <li>Codigo postal:</li>
                    <li>Tel: xxxxx xxxxxxxxxx</li>
                    <li>Fax: xxxxx xxxxxxxxxx</li>
                    <li>Email: </li>

                </ul>
            </div>
            <div class="box flickrbox">

                <div class="wrap">

                </div>
            </div>
            <br class="clear" />
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
