@model Net.Models.RegisterViewModel
@{
    ViewBag.Title = "Registro";
}

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <from>
        <div class="form-group">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control mx-auto d-block", @placeholder = "Correo electrónico" })
        </div>
        <div class="form-group">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control mx-auto d-block", @placeholder = "Contraseña" })
        </div>
        <div class="form-group">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control mx-auto d-block", @placeholder = "Confirmar contraseña" })
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <input type="submit" value="Enviar" class="btn btn-outline-info mx-auto d-block float-right" />
            </div>
            <div class="form-group col-md-6">
                <a class="btn btn-outline-danger" href="~/Home/Index" role="button">Cancelar</a>
            </div>
        </div>
    </from>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
