@model Lamarque_web.Models.servicios_bd

@{
    ViewBag.Title = "Descripcion";
}

<h2>Descripcion</h2>
<div>
    <h4>Servicios</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("Tipo")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipo)
        </dd>

        <dt>
            @Html.Label("Nombre")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.Label("Descripcion")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Volver a la lista", "Index")
</p>
