<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - LAMARQUE</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/estilos.css")
    @Styles.Render("~/Content/font-awesome/css/font-awesome.css")
    @Styles.Render("~/Content/bootstrap-social-gh-pages/bootstrap-social.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container">
        <a href="~/Home/Index"><img src="~/Content/Imagenes/Logo.jpg" class="img-logo img-fluid"/></a>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light tamaño text-center">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-center" id="collapsibleNavbar">
            <ul class="navbar-nav centro centro">
                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Lamarque
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="~/Home/Historia">Historia</a>
                        <a class="dropdown-item" href="~/Home/Fiesta_tomate">Fiesta del tomate</a>
                        <a class="dropdown-item" href="~/Home/Museo">Museo</a>
                    </div>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="~/Servicios/Index">Servicios</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="~/Home/Clima">Clima</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="~/Mapas/Mapa">Mapa</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="~/Home/Imagenes">Imagenes</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="~/Contacto/Create">Contacto</a>
                </li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </nav>    
    <div class="container body-content">
        <br />
        @RenderBody()
        <!--<hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
        </footer>-->
    </div>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/Scripts/moda.js")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/Scripts/almanaque.js")
        @RenderSection("scripts", required: false)
</body>
</html>

<!--Admin_123-->