@model IEnumerable<Lamarque_web.Models.eventos_bd>

@{
    ViewBag.Title = "Eventos";
}

<h1><i class="glyphicon glyphicon-calendar"></i> Eventos</h1>
<br />
@using (Html.BeginForm("Buscar", "eventos_bd", FormMethod.Post, htmlAttributes: new { @class = "navbar-form navbar-left" }))
{
    <form class="navbar-form navbar-left">

        <div class="input-group">

            <div class="form-group">
                <input name="busqueda_eventos" type="text" class="form-control" placeholder="Buscar...">
            </div>
            <button id="busqueda" class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>

        </div>
    </form>
}

<div class="wrapper">
    <div id="calendarContainer"></div>
    <div id="organizerContainer" style="margin-left: 8px;"></div>
</div>

<script type="text/javascript" src="~/Scripts/almanaque.js"></script>

<br /><br />

<table class="table">
    <tr class="warning">
        <th>
            @Html.DisplayName("Descripcion")
        </th>
        <th>
            @Html.DisplayName("Empieza")
        </th>
        <th>
            @Html.DisplayName("Termina")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.startDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.endDate)
        </td>
        <td>
           @Html.ActionLink("Modificar", "Edit", new { id=item.Id }) |
    @Html.ActionLink("Ver +", "Details", new { id=item.Id }) |
    @Html.ActionLink("Eliminar", "Delete", new { id=item.Id })
        </td>
    </tr>
}
</table>

@Html.ActionLink("Agregar", "Create")
<br /><br />
@Html.ActionLink("Volver arriba", "Index")